* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );
}

/* c'est pour gradient du background rn utilisant le site angry tools gradient*/

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*animation copied from website animista css*/
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

/*Media queries*/
@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color: rgb(124, 169, 221) !important;
}

.slick-dots .slick-prev:before,
.slick-next:before {
  color: rgb(227, 234, 243);
}

.card {
  width: 780px;
  height: 340px;
  background-color: rgb(213, 227, 244);
  background: radial-gradient(
    circle,
    rgba(213, 227, 244, 1) 41%,
    rgba(124, 169, 221, 1) 93%
  );
  border: 1px solid rgba(124, 169, 221, 1) 93%;
  border-radius: 50px;
  text-align: center;

  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  margin: 1.5em;
  padding: 1.5em;
  transition: transform 0.3s;
  margin-top: -50px;
  margin-left: 80px;
}

.cardelem {
  background-color: rgb(190, 219, 219);
}

.cardimg {
  width: 642px;
  height: 200px;
  border-radius: 50px;
  background-repeat: no-repeat;
  margin-left: 35px;
}

.slick-prev {
  left: -52px !important;
}
.slick-next:before,
.slick-prev:before {
  content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow {
  color: #ffffff;
  font-size: 80px;
  font-weight: bold;
}

.arrow {
  width: 40px;
  height: 60px;
}

.next {
  margin-left: -40px;
}

.pre {
  margin-left: 35px;
}

.calendrier {
  margin-left: 220px;
  margin-top: 10px;
}
.time-date {
  margin-top: -33px;
  font-size: 14px;
}

.imgplace {
  width: 24px;
  height: 24px;
  margin-left: 220px;
}

.place {
  font-size: 14px;
  margin-top: -20px;
}

.title {
  margin-top: 5px;
  font-size: 23px;
  font-weight: bold;
  color: rgba(0, 40, 83, 1);
}
.items-div {
  margin-left: 10px;
}
.images4c {
  width: 80px;
  height: 80px;
}

.incubateurimg {
  width: 950px;
  height: 550px;
}
